body {
    background : rgb(2, 21, 38);
    color: #6EACDA;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    border: 0;
    color: rgb(2, 21, 38);
    background-color: #6EACDA;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.rowSelectMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;;

    width: 512px;
}

.sketchBoard {
    display: flex;
    flex-flow: row wrap;

    box-sizing: content-box;

    width: 512px;
    height: 512px;
    border: 2px solid rgb(3, 52, 110);
}

.sketchUnit {
    background: white;
}

.colorMenu {
    display: flex;
    width: 512px;
    gap: 16px;
    justify-content: center;
}

.colorItBlack {
    background: #6EACDA;
}