body {
    background : rgb(2, 21, 38);
}

div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sketchBoard {
    display: flex;
    flex-flow: row wrap;
}

.sketchUnit {
    width: 16px;
    height: 16px;
    background: white;
    border: .005px solid #6EACDA;
}

.colorIt {
    background: #6EACDA;
}